.editor {
  padding-top: 40px;
  max-width: 60%;
}

.editor-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.editor-menu button:last-child {
  margin-left: auto;
}

.editable-area {
  width: 100%;
  border: 1px solid #333;
  padding: 0.5rem;
  background: #fff;
}

button {
  background: #333;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: .3s all ease;
}

button:hover {
  background: #555555;
}