.dimmer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #fff;
  padding: 15px;
}

.modal-x {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #eee;
  padding: 5px;
  cursor: pointer;
}

li:hover {
  background: #333;
  color: #FFFFFF;
}

input {
  padding: 7px;
}
