html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

#root {
  height: 100%;
}

header {
  width: 100%;
}